{% extends 'base.html' %}

{% block title %}
<title>Crear un Evento</title>
{% endblock title %}

{% block texto_header %}         
{% block texto_h1 %}<h1 class="container position-relative">Inscripción de Evento</h1>{% endblock texto_h1 %}
{% endblock texto_header %}

{% block despues_del_header %}    
<div class="container position-relative">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="text-center text-black">
                <p>
                    <form action={% url 'crear_evento' %} method="post">
                        {% csrf_token %}
                        <table>
                            {{form.as_table}}
                        </table>
                    <button>Crear</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock despues_del_header %}